.stats {
    width: 46rem;
    display: flex;
    justify-content: space-between;
    padding: 4em 0 1.5em 0;
    font-size: 14px;
    font-weight: bold;
}

.stats p {
    color: var(--blue);
}

.stats p span {
    
    color: var(--gray-200);
    padding: 0.125rem 0.5rem;
    margin-left: 0.25rem;
    border-radius: 8px;
    background-color: var(--gray-400);
}

.stats p:first-child {
    color: var(--blue);
}

.stats p:last-child {
    color: var(--purple);
}

.list {
    display: grid;
    gap: 1rem;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 46rem;
    height: 4rem;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    background-color: var(--gray-500);
}

.task span {
    text-align: left;
}

.taskComplete,
.taskIncomplete {
  display: flex;
  justify-content: left;
  width: 46rem;
  color: var(--gray-100);
  transition: text-decoration 0.5s ease-out, color 0.5s ease-out;
}

.taskComplete {
    color: var(--gray-300);
    text-decoration: line-through;
}

.btnComplete,
.btnIncomplete {
  width: 1,5rem;
  height: 1,5rem;
  display: flex;
  justify-content: center;
  padding: 0.125rem;
  font-size: 14px;
  border: 1px solid var(--blue);
  border-radius: 8px;
  background: none;
  transition: opacity 0.15s, background-color 0.15s, border 0.15s;
  cursor: pointer;
}

.btnComplete, .btnIncomplete svg {
    opacity: 0;
}

.btnComplete, .btnIncomplete:hover {
    opacity: 0.7;
    background-color: var(--blue);
}

.btnComplete {
    color: var(--gray-100);
    border: 1px solid var(--purpleDark);
    background-color: var(--purpleDark);
}

.btnComplete svg {
    opacity: 1;
}

.btnComplete:hover {
    opacity: 1;
    background-color: var(--purple);
    border: 1px solid var(--purple);
}

.btnDelete {
    width: 1,5rem;
    height: 1,5rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-top: -0.6rem;
    font-size: 120%;
    color: var(--gray-300);
    border: none;
    background: none;
    transition: background-color 0.15s, border-radius 0.15s;
    cursor: pointer;
}


.btnDelete:hover {
    color: var(--danger);
    border-radius: 8px;
    background-color: var(--gray-400);
}
  
.emptyList {
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    width: 46rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    gap: 1rem;
    color: var(--gray-300);
}

.emptyList svg {
    font-size: 350%;
    opacity: 0.5;
}
  