.form {
    width: 46rem;
    display: flex;
    justify-content: absolute;
    align-items: center;
    gap: 0.5rem;
    margin-top: -2rem;
}

.form input {
    width: 46rem;
    height: 3.375rem;
    padding: 1rem;
    color: var(--gray-100);
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
}


.form input:focus-visible {
    border: 1px solid var(--purple);
    outline: none;
}

.form button {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1rem;
    color: var(--gray-100);
    border: none;
    border-radius: 8px;
    background-color: var(--blueDark);
    transition: background-color 0.15s;
    width: 5.625rem;
    height: 3.25rem;
}

/* .form button:focus-visible {
    background-color: var(--blue);
} */

.form button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

.form svg {
    width: 1rem;
    height: 1rem;
}